<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K-FiN 회원가입</title>
    <link rel="stylesheet" href="web/static/css/style.css">
</head>
<body>
    <div class="small-logo">
        <h2><a href=/>K-FiN</a></h2>
    </div>
    <div class="logo">Sign Up</div>
    <form class = "input" action="" method="post">
        <h4> ID: <input type="text" name="id" id="id"></h4>
        <h4> 이름: <input type="text" name="name" id="name"></h4>
        <h4> PASSWORD: <input type="password" name="password" id="pw"> </h4>
        <h4> Check PW: <input type="password" name="check" id="check"></h4>
        {{if .error}}
        <h5 class="fail"> {{.error.Code}}: {{.error.Message}}</h5>
        {{end}}

        <!-- 추가 -->
        <h4> Email: <input type="text" name="email" id="email"></h4>
        <h4> Date of Birth: <input type="text" name="birth" id="birth" placeholder="ex>971010"></h4>
        <h4> 
        Gender: 
        <input type='radio' name='gender' value='female' />여성
        <input type='radio' name='gender' value='male' />남성
        </h4>
        
        <h4> Motive: </h4>
        <h4><textarea name="motive" id="motive" placeholder="지원동기 ex>블록체인을 알고 싶어서"> </textarea></h4>
        <input id = "submitBtn" type="submit"  value="Create">
    </form>
    
    <script src="web/static/js/signup.js"></script>
</body>
</html>